body
{
    background-color: ghostwhite;
}
*{
  box-sizing: border-box;
padding: 0;
margin:0;

}

a{
  text-decoration: none;
}
@font-face {
  font-family: deCasa;
  src:url('fonts/dacasa.ttf');
}

@font-face {
  font-family: alloy;
  src:url('fonts/AlloyInk-nRLyO.ttf');
}
@font-face {
  font-family: moonglade;
  src:url('fonts/MoongladeDemoBold-jOzM.ttf');
}
.main-title{
  font-family:alloy;
  font-size:48px;
}
.nav-item{
  font-family:moonglade;
  font-size:24px;
}
