body
{
    background-color: ghostwhite;
}
.amp
{
    text-align: center;
    font: 40px;
}
.flex-grid-thirds
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
}
.flex-grid-thirds .cols
{
    width: 32%;
    margin: 5px 5px 5px 5px;
    border-radius: 10px;
    border: gold;
}
img
{
    max-width: 40%;
    height: auto;
    border-radius: 5px;

}
.field-icon 
{
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }