alembic==0.9.3
eventlet==0.25.2
Faker==0.7.18
Flask==0.12.2
Flask-Admin==1.5.6
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-HTTPAuth==3.2.3
Flask-JSON==0.3.4
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-Migrate==2.0.4
Flask-Moment==0.5.1
Flask-PageDown==0.2.2
flask-requests==0.0.14
Flask-REST-JSONAPI==0.30.1
Flask-Script==2.0.6
Flask-SocketIO==4.3.0
Flask-SQLAlchemy==2.2
Flask-WTF==0.14.2
greenlet==0.4.16
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
jwt==1.0.0
Mako==1.0.7
email-validator==1.1.1
Markdown==2.6.8
Pillow==7.1.1
psycopg2-binary==2.8.5
requests==2.18.2
SQLAlchemy==1.1.11
Werkzeug==0.12.2
WTForms==2.1


