{% extends 'base.html' %}
{% block main %}
    <div class="container-fluid">
        <div class="col-12 ml-auto mr-auto">
            <h4>Orders made</h4>
            
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Delete</th>
                        <th scope="col">#</th>
                        <th scope="col">Item name</th>
                        <th scope="col">Price</th>

                    </tr>
                </thead>
                <tbody>
                    {% for cart in carts  %}
                    <tr>
                        <th><button>Delete(Icon)</button></th>
                        <th>{{cart.id}}</th>
                        <th>{{cart.item_id}}</th>
                        <th>{{cart.product.price}}</th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock main %}