{% extends 'admin.html' %}
{% block title %} Add to Db {% endblock title %}
{% block main %}
<div class="col-8 ml-auto mr-auto">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
            <legend class="border-bottom mb-4">Create Component</legend>
            <div class="form-group">
                {{ form.item_pic.label() }}
                {{ form.item_pic(class="form-control-file") }}
                 {% if form.item_pic.errors %}
                     {% for error in form.item_pic.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                 {% endif %}
            </div>
            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {% if form.name.errors %}
                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.description.label(class="form-control-label") }}
                {% if form.description.errors %}
                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.description(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.price.label(class="form-control-label") }}
                {% if form.price.errors %}
                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.price.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.price(class="form-control form-control-lg") }}
                {% endif %}
            </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>

{% endblock main %}